*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 18px;
}
nav{
    position: fixed;
    width: 100%;
    height: 80px;
     background-image: url('./Images/dungeons\ n\ dragons\ movie\ poster.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 999;
    background-color: rgb(26, 48, 0);
    box-shadow: 0px 3px 10px #09090970;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}
#D{
   height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}
.fuga{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 999px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.494);
}

.fuga img{
    width: 400px;
    height: auto;
    transition: all 200ms ease-in-out;
}

.fuga img:hover{
    transform: scale(1.1);
}

.roxo{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
#C{
     width: 100%;
    min-height: 100vh;
    height: auto;
    background-image: url('./Images/dungeons\ n\ dragons\ movie\ poster.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
}
#Q{
     width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 50px;
}
.lolo{
    width: 300px;
    border: 2px solid #46a14d;
    background-color: #331e1e;
    color: #a57272;
}

.wrapTexts{
    padding: 20px;
}

.lolo img{
    width: 100%;
    height: auto;
}
.C2{
    min-height: 80vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.formulario{
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.formulario label{
    width: 100%;
    padding: 10px;
    margin-bottom: -25px;
}

.formulario input{
    width: 100%;
    padding: 10px;
}

.formulario textarea{
    max-width: 100%;
    width:255px;
    min-width: 255px;
    padding: 10px;
}

.formulario button{
    width: 100%;
    padding: 10px;
}

@media (width <= 1000px){
    #C{
        padding-top: 100px;
    }
    #D{
        margin-top: 100px;
    }
}